/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
    font-family: 'Titillium Web', sans-serif;
}
 * {
     box-sizing: border-box;
 }

/* Header ============
=====================*/
header{
    background:#87509c;
    width: 100%;
    height: 596px;
  
}

.container{
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    
}

.inner{
    margin: 0 auto;
    width: 1040px;
    padding-top: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 140px;
    
}

.nav{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.nav__link{
    text-decoration: none;
    color: #ffffff;
    padding: 7px 22px;
}

.nav__link:hover{
    border-radius: 3px;
    background-color: #643a79;
    
}
.nav__linc:first-child{ /*обращаемся к первой ссылки и убераем у нее отступ*/
    margin-left: 0;
}

.intro__title{
    line-height: 48px; 
    font-size: 42px;
    font-weight: 700;
    color: #f7f3ea;
    text-align: center;
    margin-bottom: 51px;
    
} 
.btn{
    display: flex;
    align-items: center;
    width: 293px;
    height: 70px;
    margin: 0 auto;
    justify-content: center;
        
}
.btn--orang{
    background-color: #eb7d4b;
    font-size: 18px;
    border-radius: 3px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #ffffff;
    box-shadow: 3px 3px 3px #eb7d4b;;
    
}

/* services=========
=============================== */
.services{
    padding-top: 113px;
    width: 100%;
    height: 747px;
    background-color: #17c2a4;

}
.services__intro{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}
.services__title{
    
    position: relative;
    text-align: center;
    padding: 0 0 21px 0;
}
.services__heading{
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
}
.title::after{
   content:'';
    position: absolute;
    left: 50%;
    width: 87px;
    height: 4px;
    opacity: 0.14;
    background-color: #000000;
    bottom: 0;
    margin: 0 0 0 -40px; 
}
.services__subtitle{
    max-width: 603px;
    font-weight: 400;
    margin: 0 auto; 
    padding-top: 23px;
}
.subtitle_p{
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
}
.services__inner{
    display: flex;
    margin-top: 92px;
    
}
.inner__item{
    width: 25%;
    text-align: center;
    margin-left:80px;
}
.inner__item:first-child{
    margin-left: 0;
}
.inner__title{
    padding-top:62px;
    font-size: 24px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.inner__text{
    padding-top:27px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #ffffff;
}


/* team ===============
================================ */
.team{
    height:914px;
    background-color: #e7f1f8;
    
}
.team__intro{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 113px;
}
.team__title {
   position: relative; 
   text-align: center;
   
   
}
.two::after{
    left: 50%;
    margin: 0 0 0 -40px;
    content:'';
    position: absolute;
    width: 87px;
    height: 4px;
    opacity: 0.74;
    background-color: #bdd1df;
}
.team__heading{
    font-size: 41.3px;
    font-weight: 900;
    color: #3c4761;
    padding: 0 0 20px 0;
}
.team__p{
    padding-top: 25px;
    font-size: 18.6px;
    font-weight: 400;
    color: #3c4761;
}
.team__star{
    margin-top: 78px;
    display: flex;
}
.star__item{
    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 80px;
  
}
.star__item:first-child{
    margin-left: 0;
}

.star__title{
    padding-top: 41px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #27283d;
}
.star__subtitle{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #30bae7;
}
.star__text{
    letter-spacing: 0.02em;
    margin-top: 20px;
    font-size: 16px;
    font-weight:300;
    letter-spacing: 0.02em;
    color: #3c4761;
    margin-bottom: 29px;
    line-height: 24px;

}
.star__icon{
    display: flex;
    justify-content: center; 
    justify-items: center;  
}
.icon__img{
    margin-right: 15px;
}


/* Skills ===============
================================ */
.skills{
    height: 655px;
    background-color: #ffffff;
}
.skills__title{
    margin-top: 117px;
    text-align: center;
    position: relative;
    padding: 0 0 23px 0;
}
.skills__title h2{
    font-size: 40px;
    line-height: 29px;
    font-weight: 900;
    letter-spacing: 0.1em;
    color: #3c4761;
}

.three::after{
    content:'';
    position: absolute;
    left: 50%;
    width: 87px;
    height: 4px;
    background-color: #dfe8ed;
    bottom: 0;
    margin: 0 0 0 -40px; 
}
.skill__text {
    margin: 0 auto;
    width: 628px;
    margin-top: 17px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #3c4761;
    text-align: center;
}

.skills__main{
    margin: 0 auto;
    display: flex;
    width: 1040px;
    /* flex-wrap: wrap; */
}

.skills__item{
    margin-top: 84px;
    width: 25%;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-left: 80px;
}
.skills__item:first-child{
    margin-left: 0;
}

.item__title{
    font-size: 24px;
    text-align: center;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #3c4761;
}

/* portfolio ===========
=============================*/

.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1423px;
    background-color: #ffdd99;
}
.portfolio__title{
    padding: 120px 0 25px 0;
    font-size: 40px;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #393939;
    position: relative;
    
}
.four::after{
    content: "";
    position: absolute;
    width: 87px;
    height: 4px;
    left: 50%;
    bottom: 0;
    margin: 0 0 0 -40px; 
    background-color: #e5c37f;
}

.portfolio__text{
    padding-top: 23px;
    width: 565px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #393939;
    text-align: center;
    margin-top: -7px;
}
.portfolio__nav{
    margin-top: 50px;
    
}
.portfolio__link{
    margin-left: 10px;
    padding: 6px 20px;
    font-size: 18px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #393939;
    border-radius: 3px;
    background: #e5c37f;
 
}
.portfolio__link:hover{
    background-color: #ffffff;
  
}


.portfolio__main{
    width: 1101px;
    display: flex;
    margin-top: 70px;
    flex-wrap: wrap;

}
.portfolio__item{
    width: 50%;
    justify-content: center;
    text-align: center;
   
}
.portfolio__subtitle{
    padding: 32px 0 64px 0;
    font-size: 18px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #393939;
}
.portfolio__btn{
    margin-top: 18px;
    width: 293px;
    height: 70px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #ffffff;
    
}
.btn--green{
    background-color: #17c2a4;
    border-radius: 3px;
}


/* comment ==============
============================== */
.comment{
    height: 894px;
    background-color: #d74680;
    display: flex;
    flex-direction: column;
    align-items:center;
    /* text-align: center; */
}
.comment__title{
    padding: 114px 0 21px 0;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #ffffff;
    position: relative;
    
}
.five::after{
    content: "";
    position: absolute;
    width: 87px;
    height: 4px;
    left: 50%;
    bottom: 0;
    margin: 0 0 0 -40px; 
    background-color: #000000;
    opacity: 0.14;


}
.comment__subtitle{
    padding-top: 20px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #ffffff;
    
}
.comment__body{
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid red;
}
.comment__item{
    display: flex;
    width: 50%;
    margin: 64px 0 75px 0;
}

.comment__img{
    width: 96px;
    height: 96px;
    background-color: #787878;
    border-radius: 50%;
    
}
.content{
    
    
}
.content__text{
    margin:5px 0 0 48px;
    font-size: 21px;
    line-height: 31px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.content__user{
    margin:22px 0 0 48px;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.position{
    margin-left:  48px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #ffdd99;
}

/* connection==============
================================= */
.connection{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
    height: 819px;
    background-color: #3c5499;
}
.connection__title{
    padding: 120px 0 28px 0;
    font-size: 40px;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #ffffff;
    position: relative;
}
.six::after{
    content: "";
    position: absolute;
    width: 87px;
    height: 4px;
    left: 50%;
    bottom: 0;
    margin: 0 0 0 -40px; 
    background-color: #273a71;
   
}
.connection__text{
    margin: 21px 0 76px 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #ffffff;
    
}
.input__name{
    width: 414px;
    height: 56px;
    padding-left: 25px;
    margin-left: 30px;
    background-color: #273a71;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    border-radius: 5px;
    
}
.input__name:first-child{
    margin-left: 0;
}


.message{
    margin: 27px 0 55px 0;
    padding: 21px 0 0 25px;
    width: 860px;
    height: 200px;
    background-color: #273a71;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    
}
.btn{
    width: 293px;
    height: 70px;
    
    border-radius: 5px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.btn--blue{
    background-color: #30bae7;
}

/* footer==============
============================ */

.footer{
    width: 100%;
    height: 112px;
    background-color: #344b8e;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.footer__item{
    display: inline-block;
    margin-left: 50px;
}
.footer__link{
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #ffffff;
   
}
.footer__list li:first-child{
    margin-left: 0;
}
.footer__link:hover {
    color: #30bae7;
}


/* @media =====
======================*/

/* @media(max-width:1320px){
    .nav{
        display: none;
    }
} */